.card {
    display: block;
    background: $cardColor;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    >div {
        padding: 20px 24px;
        text-align: left;
    }
    p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    button {
        color: $secondaryColor;
        &.mini-action {
            float: right;
        }
    }
}

.card:not(:last-child) {
    margin-bottom: 20px;
}

.table-in-card {
    background: $cardColor;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0px 24px;
    input[type="checkbox"]+label {
        margin-top: 0;
    }
    >h5,
    >h6 {
        padding-top: 20px !important;
        margin-bottom: 8px !important;
    }
}