@import '_robotoFonts',
'_notoSansFonts';
$primary-font: Roboto-Regular;
$secondary-font: NotoSans-Regular;
$light-primary-font: Roboto-Light;
$medium-primary-font: Roboto-Medium;
$h1-font: Roboto-Light;
$h6-font: Roboto-Medium;
$flat-button: 'flat-button';
$raised-button: 'raised-button';
$floating-action-button: 'floating-action-button';
$html: 'html';
$body: 'body';
$h1: 'h1';
$h2: 'h2';
$h3: 'h3';
$h4: 'h4';
$h5: 'h5';
$h6: 'h6';
$p: 'p';
$caption: 'caption';
$label: 'label';
$inputHeight: 28px;
$radius: 2px;
$tooltipFontSize: 12px;
$tooltipVerticalPadding: 5px;
$tooltipHorizontalPadding: 5px;
$spanPadding: 8px;
$spanMargin: 16px;
$sectionMarginBottom: 30px;
$sectionMarginTop: 80px;
$navWidth: 200px;
$articlePaddingTop: 60px;
$articleMarginBottom: 20px;
$footerHeight: 64px;