*,
*:before,
*:after,
*:hover,
*:focus {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
content {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.block {
    display: block;
}

.l-p {
    width: 50%;
}

.r-p {
    width: 50%;
}

.half-opacity {
    opacity: 0.5;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}