@import '_constants',
'_mixins';
section,
main {
    >h1:first-child,
    >h2:first-child,
    >h3:first-child,
    >h4:first-child,
    >h5:first-child,
    >h6:first-child {
        margin-bottom: $sectionMarginBottom;
    }
    color: $textColor;
}

section:not(:first-child) {
    >h1:first-child,
    >h2:first-child,
    >h3:first-child,
    >h4:first-child,
    >h5:first-child,
    >h6:first-child {
        margin-top: $sectionMarginTop;
    }
    color: $textColor;
}