$deepPurple-50: #EDE7F6;
$deepPurple-100: #D1C4E9;
$deepPurple-200: #B39DDB;
$deepPurple-300: #9575CD;
$deepPurple-400: #7E57C2;
$deepPurple-500: #673AB7;
$deepPurple-600: #5E35B1;
$deepPurple-700: #512DA8;
$deepPurple-800: #4527A0;
$deepPurple-900: #311B92;
$deepPurple-A100: #B388FF;
$deepPurple-A200: #7C4DFF;
$deepPurple-A400: #651FFF;
$deepPurple-A700: #6200EA;