$deepOrange-50: #FBE9E7;
$deepOrange-100: #FFCCBC;
$deepOrange-200: #FFAB91;
$deepOrange-300: #FF8A65;
$deepOrange-400: #FF7043;
$deepOrange-500: #FF5722;
$deepOrange-600: #F4511E;
$deepOrange-700: #E64A19;
$deepOrange-800: #D84315;
$deepOrange-900: #BF360C;
$deepOrange-A100: #FF9E80;
$deepOrange-A200: #FF6E40;
$deepOrange-A400: #FF3D00;
$deepOrange-A700: #DD2C00;