$lightBlue-50: #E1F5FE;
$lightBlue-100: #B3E5FC;
$lightBlue-200: #81D4FA;
$lightBlue-300: #4FC3F7;
$lightBlue-400: #29B6F6;
$lightBlue-500: #03A9F4;
$lightBlue-600: #039BE5;
$lightBlue-700: #0288D1;
$lightBlue-800: #0277BD;
$lightBlue-900: #01579B;
$lightBlue-A100: #80D8FF;
$lightBlue-A200: #40C4FF;
$lightBlue-A400: #00B0FF;
$lightBlue-A700: #0091EA;