$lightGreen-50: #F1F8E9;
$lightGreen-100: #DCEDC8;
$lightGreen-200: #C5E1A5;
$lightGreen-300: #AED581;
$lightGreen-400: #9CCC65;
$lightGreen-500: #8BC34A;
$lightGreen-600: #7CB342;
$lightGreen-700: #689F38;
$lightGreen-800: #558B2F;
$lightGreen-900: #33691E;
$lightGreen-A100: #CCFF90;
$lightGreen-A200: #B2FF59;
$lightGreen-A400: #76FF03;
$lightGreen-A700: #64DD17;